body {
	background-image: url("/tło.webp");
}

h1 {
	text-align: center;
	text-shadow: 5px 5px 10px;
	text-decoration: underline;
}

p {
	display: inline-block;
	padding: 20px;
	margin-top: -27%;
	margin-left: 40%;
	text-align: center;
	width: 400px;
	height: 100%;
	background-color: white;
	border-radius: 20px;
	border: 2px solid black;
}
span {
	font-size: 23px;
	font-weight: bold;
	padding: 30%;
	font-family: "Alex Brush", cursive;
	font-family: "Dancing Script", cursive;
}
iframe {
	display: inline-block;
	margin: auto;
	margin-top: -40%;
	top: auto;
	margin-left: 80%;
	margin-right: 2px;
	width: 260px;
	height: 200px;
	border-radius: 20px;
	border: 2px solid black;
}
.calosc {
	position: absolute;
	height: 20px;
	width: 50px;
	background-color: grey;
	border: 2px solid black;
	padding: 20px;
	margin-left: 2%;
	border-radius: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.faworki {
	left: 10%;
}

.Donuts {
	left: 20%;
}

.zmiana {
	margin: 7%;
	width: 220px;
	height: 200px;
	background-size: 220px 200px;
	border-radius: 20px;
}

.paczki:hover ~ .zmiana {
	margin-top: 8%;
	margin-left: 2cm;
	background-image: url("/paczki-z-dzemem.jpeg");
	border: 2px solid black;
}
.faworki:hover ~ .zmiana {
	margin-top: 8%;
	margin-left: 2cm;
	background-image: url("/faworki.jpg");
	border: 2px solid black;
}
.Donuts:hover ~ .zmiana {
	margin-top: 8%;
	margin-left: 2cm;
	background-image: url("/donuts.jpg");
	border: 2px solid black;
}

.tlusty {
	display: inline-block;
	width: 200px;
	height: 300px;
	background-color: white;
	color: black;
	overflow: scroll;
	margin-left: 10%;
	border: 2px solid black;
}

.don {
	display: inline-block;
	width: 300px;
	height: 150px;
	margin: center;
	border-radius: 20px;
	border: 2px solid black;
	margin: 5px;
}

.drugi {
    
    
	display: inline-block;
	height: 20px;
	width: 100px;
	background-color: grey;
	border-radius: 20px;
	border: 2px solid black;
	text-align: center;
    cursor: pointer;
    
}

.powiekszenie {
	margin: 5px;
}

.oddalenie {
	margin: 5px;
}

.kolor{
	margin: 5px;
}


.img1 {
    transition: transform 0.3s;
}

.img1:hover { 
    transform: scale(1.25);
}
.img2 {
    transition: transform 0.3s;
}

.img2:hover { 
    transform: scale(1.25);
}
.img3 {
    transition: transform 0.3s;
}

.img3:hover { 
    transform: scale(1.25);
}


.img4 {
    transition: transform 0.3s;
}

.img4:hover { 
    transform: scale(0.75);
}
.img5 {
    transition: transform 0.3s;
}

.img5:hover { 
    transform: scale(0.75);
}
.img6 {
    transition: transform 0.3s;
}

.img6:hover { 
    transform: scale(0.75);
}
